@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");

@theme {
  --color-primary: #f9f506;
  --color-background-light: #f8f8f5;
  --color-background-dark: #23220f;

  --font-display: "Spline Sans", sans-serif;

  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

@variant dark (&:where(.dark, .dark *));

body {
  @apply font-display bg-background-light dark:bg-background-dark text-[#1c1c0d] dark:text-[#fcfcf8];
}
